/* font-family section */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* custom properties */

::root {
    --primary-clr {
        color: #FF42A5;
    }
}

/* shared style */

.primary-color {
    color: #FF42A5;
}

.paragraph-txt {
    color: #534C64;
    font-size: 1.20rem;
    font-weight: 400;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
}

.linear-gradiant {
    color: transparent;
    background-image: linear-gradient(180deg, #F948B2, #8758F1);
    -webkit-background-clip: text;

}

/* header section style*/

/* nav section style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

nav>.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 86.041px;
    height: 40px;
}

.logo-text {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: normal;
}

.menu>ul {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    margin-right: 32px;
}

li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.20rem;
    font-weight: 500;
}


.li-style>button {
    border: none;
    padding: 16px;
    background-color: #E7E6E9;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: #3C354F;
    font-size: 1.20rem;
    font-weight: 500;
}


.fa-youtube {
    color: red;
    width: 34px;
}

.fa-tiktok {
    width: 24px;
}

/* banner section styles */

.banner {
    background-color: #FFF;
}

.banner-content {
    display: flex;
    justify-content: space-between;
}

.banner-text-content {
    width: 50%;
    padding-left: 240px;
    background-image: url(/images/Group\ 14.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
}



.banner-slogan {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 148px;
}

.banner-title {
    font-size: 5.9rem;
    font-weight: 800;
    margin-top: 0;
}

.banner-feature li {
    margin-top: 24px;
    list-style: none;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;

}

.banner-feature li i {
    width: 24px;
    height: 24px;
}

.fa-circle-play {
    color: #FF42A5;
}

.fa-download {
    color: #FF42A5;
}

.banner-button {
    margin-top: 40px;
    display: flex;

}

.b-button {
    background-color: #FF42A5;
    border: none;
    padding: 20px 40px;
    border-radius: 48px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 20px;
}

#blue {
    background: #4EC5F7;
}


.banner-image {
    width: 50%;
    padding-right: 240px;
}

.banner-image img {
    width: 100%;
}

/* we-are-gamers section styles */

.gamers-contain {
    background-color: #FFF9FC;
    margin-bottom: 120px;
}

.gamers {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gamers-about {
    text-align: end;
}

.gamer-title {
    font-size: 3rem;
    font-weight: 700;
}

#purpose {
    color: #534C64;
    font-size: 1.50rem;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 0;
}

#unleash {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

/* online game section styles */
.online-games {
    max-width: 1440px;
    margin: 0 auto 120px;
}

.online-title {
    text-align: center;
    margin-bottom: 48px;
}

.gamer-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-title {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}


/* play instant section styles */

.play-instant {
    max-width: 1440px;
    margin: 0 auto 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instant-about {
    width: 50%;
    text-align: end;
    position: relative;
    top: -200px;
    left: -200px;
}

.instant-image {
    width: 50%;
}

.primary-img {
    width: 100%;
}

.image-relative {
    position: relative;
}

.image-absolute {
    position: absolute;
    top: 500px;
    left: -150px;
}

/* careers section styles */
.careers-section {
    margin-top: 200px;
    background-color: #F948B2;
    margin-bottom: 120px;
}

.careers-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.careers-about {
    padding-left: 240px;
}

.careers-title {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
}

.careers-txt {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
}

.careers-data {
    display: flex;
    justify-content: space-between;
}

.data-title {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.careers-btn {
    margin-top: 40px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    color: #F948B2;
}
.careers-image img{
    width: 100%;    
}



/* catagories section styles */

.catagories-section {
    max-width: 1440px;
    margin: 0 auto;
}

.catagories-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}


.catagorie {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 10px;
    /* width: 240px;
    height: 80px; */
    align-items: center;
}

.catagorie h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.catagorie:hover {
    border: 1px solid #F948B2;
    border-radius: 55px;
    color: #F948B2;
}

/* footer section styles */

footer {
    margin-top: 120px;
    background-color: #0B0223;
}

.footer-section {
    text-align: center;
}

.amer {
    color: white;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-logo-text {
    font-size: 2.8rem;
    font-weight: 700;
}

.footer-link ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
}

.footer-link ul a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.follow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-twitter {
    color: white;
    width: 40px;
    height: 40px;
}

.fa-facebook {
    color: white;
    width: 40px;
    height: 40px;
}

#white-youtube {
    color: white;
    width: 57.13px;
    height: 40px;
}

.fa-linkedin {
    color: white;
    width: 40px;
    height: 40px;
}

.fa-instagram {
    color: white;
    width: 40px;
    height: 40px;

}

.fa-apple {
    color: white;
    width: 40px;
    height: 40px;
}

.terms ul {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.terms ul a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

.txt-copyright {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 130px;
}






/* responsive styles */

/* for mobile responsive*/

@media screen and (max-width:576px) {

    nav,
    .gamers,
    .play-instant, .careers-contain {
        flex-direction: column;
        padding: 0 20px;
    }

    .banner-content {
        flex-direction: column-reverse;
        padding: 0 20px;

    }

    .banner-text-content {
        padding: 0;
        width: 100%;
        background-size: cover;
    }

    .banner-image {
        width: 100%;
        padding: 0;
        background-size: contain;

    }


    nav .menu ul {
        flex-direction: column;
        gap: 20px;
    }

    .gamers img {
        width: 100%;
    }

    .gamers-about {
        text-align: center;
    }

    .gamer-card {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .online-games {
        padding: 0 20px;
    }

    .instant-image {
        width: 100%;
    }

    .instant-about {
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
    }

    .footer-section {
        padding: 10px;
    }

    .footer-link ul,
    .terms ul {
        flex-wrap: wrap;
    }
    .careers-about{
        padding: 0;
    }




    /* .catagories-section{
        display: grid;
        grid-template-columns: repeat(3);
    } */

    /* .image-relative img{
        width: 80%;
    }
    .image-absolute img{
        position: relative;
        width: 40%;
        left: 200px;
    }
    
     */


}